<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxmanageprod">
            <SUBMENU id="jxbc_receipt" cl="jxbc_receipt">
            </SUBMENU>
        </MAINMENU>
        <MAINMENU id="mxorders">
            <SUBMENU id="jxbc_shipping" cl="jxbc_shipping">
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>